header .boxed-text-1 {
  padding: 0.26vw 1.67vw 1.2vw 1.51vw;

  position: absolute;
  top: 10.1vw;
  left: 11.72vw;
}

header .boxed-text-1 .glitch-0 {
  position: absolute;

  width: 100%;
  height: 83px;

  background: #000000;

  left: 0;
  top: 0;
}

header .boxed-text-1 .glitch-1 {
  position: absolute;

  width: 15.78vw;
  height: 2.66vw;

  background: #000000;

  left: 3.7vw;
  top: -1.35vw;
}

header .boxed-text-1 .glitch-2 {
  position: absolute;

  width: 19.06vw;
  height: 1.72vw;

  background: #000000;

  right: 4vw;
  bottom: 2vw;
}

header .boxed-text-1 .glitch-3 {
  position: absolute;

  width: 10.21vw;
  height: 2.24vw;

  background: #000000;

  left: 2.34vw;
  bottom: -1.61vw;
}

header .boxed-text-1 .glitch-4 {
  position: absolute;

  width: 4.32vw;
  height: 4.95vw;

  background: #000000;

  left: -3.13vw;
  top: 2.46vw;
}

header .boxed-text-1 .glitch-5 {
  width: 106%;
  height: 3.49vw;

  position: absolute;

  background: #000000;

  left: 0;
  bottom: 0;
}

header .boxed-text-1 .glitch-6 {
  position: absolute;

  width: 19.06vw;
  height: 1.96vw;

  background: #000000;

  right: -1.72vw;
  bottom: -1.64vw;
}

header .boxed-text-2 {
  padding: 0 1.2vw 1.67vw;

  position: absolute;
  bottom: 3.23vw;
  right: 8.96vw;
}


header .boxed-text-2 .glitch-0 {
  position: absolute;

  width: 10.52vw;
  height: 2.4vw;

  right: 5.05vw;
  top: -1.61vw;

  background: #000;
}

header .boxed-text-2 .glitch-1 {
  position: absolute;

  width: 100%;
  height: 5.26vw;

  left: 0;
  top: 0;

  background: #000;
}

header .boxed-text-2 .glitch-2 {
  position: absolute;

  width: 112%;
  height: 5.26vw;

  left: -2.24vw;
  top: 3.49vw;

  background: #000;
}

header .boxed-text-2 .glitch-3 {
  position: absolute;

  width: 22.45vw;
  height: 5.26vw;

  left: 0;
  bottom: -0.25vw;

  background: #000;
}

header .boxed-text-2 .glitch-4 {
  position: absolute;

  width: 8.02vw;
  height: 2.4vw;

  left: 5.42vw;
  bottom: -1.41vw;

  background: #000;
}

main {
  padding: 3.65vw 5.21vw;

  background: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 3.65vw;
}
main .map-container {
  display: grid;
  grid-template-columns: 1.65fr 1fr;
  grid-gap: 1.04vw;
}

main .map-container .map {
  height: 32.08vw;
  object-fit: cover;

  background: url("../images/about/map.jpg") no-repeat center center/cover;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 1.04vw;
}

main .map-container .map-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .map-container .map-info .row {
  display: flex;
  flex-direction: column;
  gap: 0.78vw;
}

main .map-container .map-info .row .text {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.078vw;
  text-transform: lowercase;
}

main .poster {
  height: 37.45vw;
  object-fit: cover;
}

main .map-container .map.mobile {
  display: none;
}

@media (max-width: 500px) {
  header .boxed-text-1 {
    padding: 0.483vw 2.657vw 1.208vw 2.415vw;

    background: #000000;

    left: 10.869vw;
    top: 28.743vw;
  }

  header .boxed-text-1 .glitch-0, header .boxed-text-1 .glitch-2, header .boxed-text-1 .glitch-5 {
      display: none;
  }

  header .boxed-text-1 .glitch-1 {
      width: 30.193vw;
      height: 5.072vw;

      top: -3.140vw;
      left: 7.003vw;
  }

  header .boxed-text-1 .glitch-4 {
      width: 8.212vw;
      height: 9.178vw;

      left: -5.797vw;
      bottom: 0;
      top: unset;
  }

  header .boxed-text-1 .glitch-3 {
      width: 19.082vw;
      height: 3.140vw;

      left: 4.591vw;
      bottom: -2.415vw;
  }

  header .boxed-text-1 .glitch-6 {
      width: 29.951vw;
      height: 5.797vw;

      bottom: -4.348vw;
      right: -3.140vw;
  }

  header .boxed-text-2 {
      padding: 2.174vw 0 3.382vw 2.174vw;

      bottom: 23.430vw;
      right: 7.003vw;
  }

  header .boxed-text-2 .glitch-0 {
      width: 19.082vw;
      height: 4.348vw;

      top: -2.899vw;
      right: 13.768vw;
  }

  header .boxed-text-2 .glitch-1 {
      width: 66.183vw;
      height: 9.903vw;

      left: 0;
      top: 0;
  }

  header .boxed-text-2 .glitch-2 {
      width: 109%;
      height: 9.661vw;

      left: -4.106vw;
      top: 7.971vw;
  }

  header .boxed-text-2 .glitch-3 {
      width: 42.029vw;
      height: 9.661vw;

      bottom: 0;
      left: 0.725vw;
  }

  header .boxed-text-2 .glitch-4 {
      width: 23.671vw;
      height: 4.348vw;

      bottom: -2.899vw;
      left: 9.420vw;
  }

  main {
      padding: 7.246vw 0;
      gap: 7.246vw;
  }

  main .map-container {
      grid-template-columns: 1fr;
  }

  main .map-container .map.desktop {
      display: none;
  }

  main .map-container .map.mobile {
      display: flex;
  }

  main .map-container .map-info {
      gap: 3.623vw;
  }

  main .map-container .map {
      width: 100%;
      height: 58.938vw;
  }

  main .map-container .map-info .row {
      padding: 0 4.830vw;
      gap: 2.899vw;
  }

  main .map-container .map-info .row .text {
      font-size: 3.623vw;
      line-height: 120%;
      letter-spacing: -0.181vw;
  }

  main .content-container {
      padding: 0 4.830vw;
  }

  main .poster {
      width: 100%;
      height: 58.938vw;
  }

}
