@media (max-width: 768px) {
  body, html {
    overflow-x: hidden;
  }

  /* Header */
  header {
      padding: 4.830vw 3.381vw;
      height: 132.609vw;
  }

  .header-text {
      font-size: 5.797vw;
      line-height: 120%;
      letter-spacing: -0.116vw;
  }

  header .boxed-text-1 span,
  header .boxed-text-2 span {
      font-size: 5.797vw;
      line-height: 110%;
      letter-spacing: -0.406vw;
  }
  /* </Header> */

  /* Footer */
  footer {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      gap: 4.830vw;

      padding: 4.830vw;
      min-height: calc(39vh - 11.352vw);
  }

  footer > :nth-child(1) {
      order: 3;
      grid-column: span 2;
      align-items: flex-start;
  }

  footer > :nth-child(2) {
      order: 4;
      grid-column: span 2;
      align-items: flex-start;
  }

  .links-container + .links-container {
      margin-left: 0;
  }

  footer > :nth-child(4) {
      order: 1;
      width: 35.507vw;
      height: 23.671vw;
      margin-left: 0;
  }

  footer > :nth-child(3) {
      order: 2;
  }

  footer a {
      font-size: 3.623vw;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.181vw;
      text-align: right;
  }

  footer .contacts .help-text {
      font-size: 3.623vw;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.181vw;
      text-align: right;
  }

  .infinite-line {
      height: 11.352vw;
      gap: 3.623vw;
  }

  .infinite-line .items-container {
      gap: 3.623vw;
  }

  .infinite-line .items-container p {
      font-size: 5.797vw;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.290vw;
  }
  /* </Footer> */

  /* Navigation */
  .menu-container .menu .menu-head-container * {
      font-size: 5.797vw;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.116vw;
      text-transform: lowercase;
  }

  .menu-container .menu .menu-items-list a {
      font-size: 10.628vw;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.213vw;
  }
  /* </Navigation> */

  .shadowed-text {
      font-size: 5.797vw;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.290vw;
  }

  .shadowed-text .shadow-text {
      -webkit-text-stroke-width: 0.966vw;
  }

  .button {
      font-size: 5.797vw;
      line-height: 120%;
      letter-spacing: -0.290vw;
  }

  .button.small {
      padding: 1.690vw 0;
  }

  main .example-text {
      font-size: 2.899vw;
      line-height: 120%;
      letter-spacing: -0.145vw;
  }

  .mb-10 {
      margin-bottom: 2.415vw;
  }

  .mb-30 {
      margin-bottom: 7.246vw;
  }

  .mb-20 {
      margin-bottom: 4.830vw;
  }

  #menu-open {
      color: transparent !important;

      width: 8.212vw;
      height: 6.763vw;

      mask: url("../images/burger.svg") no-repeat center center/contain;
      -webkit-mask: url("../images/burger.svg") no-repeat center center;
      mask-size: contain;
      -webkit-mask-size: contain;

      background: #000;
  }

  /* popups */
  .popup-content-container .popup {
      padding: 4.830vw 8.696vw;
      flex-direction: column;
      width: 87vw;
  }

  .popup-content-container .popup .popup-title {
      padding: 2.657vw 7.246vw;
      font-size: 5.797vw;
      line-height: 120%;
      letter-spacing: -0.290vw;
      top: -7.246vw;
  }

  .popup-content-container .popup .popup-close {
      padding: 1.932vw 5.072vw;
      font-size: 5.797vw;
      top: -7.246vw;
  }

  .popup-content-container .popup img {
      width: 100%;
      height: 99.758vw;
      object-fit: cover;
  }

  .popup-content-container .popup .text-container .text-row .title {
      font-size: 5.797vw;
      line-height: 120%;
      letter-spacing: -0.290vw;
  }

  .popup-content-container .popup .text-container .text-row .description {
      font-size: 3.623vw;
      line-height: 110%;
      letter-spacing: -0.181vw;
  }
  /* </popups> */

  header .cover-image img {
      object-fit: cover;
  }

  header .cover-image canvas {
      display: none !important;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .popup-content-container {
    overflow-y: auto;

    padding-bottom: 10vh;
  }

  .popup {
    margin-top: 50vh;
  }
}