body {
  background: #000;
}

/* Menu */


.menu-container {
  position: absolute;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  opacity: 0;
  visibility: hidden;

  z-index: 100;
}

.menu-container .menu {
  padding: 1.56vw 5.2vw 5.72vw;

  left: 0;
  top: 0;
  width: 100%;

  height: 87vh;

  background: #000;
  box-shadow: 0 18px 15px 0 rgba(0, 0, 0, 0.00);

  transform: translateY(-100%);
  transition: all 500ms linear;
}

.menu-container.opened {
  opacity: 1;
  visibility: visible;
}

.menu-container .menu .menu-head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container .menu .menu-head-container * {
  color: #FFF;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  text-transform: lowercase;
}

.menu-container .menu .menu-head-container .close {
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.menu-container .menu .menu-head-container .close:hover {
  color: #F5DA24;
}

.menu-container .menu .menu-items-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: 2.45vw;
}

.menu-container .menu .menu-items-list a {
  color: transparent;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 4.1vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 120px */
  letter-spacing: -2px;
  text-transform: lowercase;

  position: relative;

  text-align: right;
}

.menu-container .menu .menu-items-list a::before {
  content: var(--content);

  position: absolute;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: all 250ms ease-in-out;
}

.menu-container .menu .menu-items-list a:hover::before {
  color: #F5DA24;
  transform: translateX(-18.48vw);
}

/* </Menu> */


footer {
  padding: 1.56vw 5.2vw 5.72vw;

  display: flex;
  align-items: flex-start;
}

footer .links-container {
  display: flex;
  flex-direction: column;
  gap: 0.78vw;
}

footer a {
  color: #FFF;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 54px */
  letter-spacing: -2.25px;
  text-transform: lowercase;
}

.links-container + .links-container {
  margin-left: 9.37vw;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 0.78vw;
  margin-left: 4.53vw;
}

footer .contacts .help-text {
  color: rgba(255, 255, 255, 0.5);

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.5px;
  text-transform: lowercase;

  white-space: pre-wrap;
}

footer .logo {
  width: 11.92vw;
  height: 7.96vw;

  margin-left: auto;
  filter: invert(1);
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.56vw));
  }
}

.infinite-line {
  width: 100%;
  height: 3.59vw;
  background: #F5DA24;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.56vw;
  user-select: none;
  overflow: hidden;
}

.infinite-line .items-container {
  display: flex;
  align-items: center;
  gap: 1.56vw;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollAnimation 20s linear infinite;
  animation-direction: reverse;
}

.infinite-line .items-container p {
  color: #000;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.82vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.75px;
  text-transform: lowercase;
}

.header-text {
  color: #000;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.63vw;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.9px;
  text-transform: lowercase;
}

a.header-text {
  cursor: pointer;
  transition: color 250ms ease-in-out
}

a.header-text:hover {
  color: #F5DA24;
}

.button {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.12vw;
  text-transform: lowercase;
  text-align: center;

  border: none;
  outline: none;

  background: url("../images/button-background.jpg") no-repeat center center / cover;

  padding: 1.15vw 0;
}

.button.small {
  padding: 0.57vw 0;
}


.button.stretch {
  width: 100%;
}

header {
  padding: 1.56vw 5.21vw;

  height: 30.94vw;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;
}

header .cover-image, header canvas {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}

header .cover-image img {
  width: 100%;
  height: 100%;
}

header > *:not(:first-child) {
  z-index: 10;
}

.shadowed-text {
  color: #F5DA24;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12vw;
  text-transform: lowercase;

  position: relative;
}

.shadowed-text span {
  position: relative;
  z-index: 10;
}

.shadowed-text::before, .shadowed-text .shadow-text {
  content: var(--content);

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  color: #F5DA24;

  -webkit-text-stroke-width: 0.63vw;
  -webkit-text-stroke-color: #000;
}

main .example-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.078vw;
  text-transform: lowercase;

  text-align: right;
}

.mb-10 {
  margin-bottom: 0.52vw;
}

.mb-30 {
  margin-bottom: 1.56vw;
}

.d-block {
  display: block;
}


header .boxed-text-1 span, header .boxed-text-2 span {
  color: #F5DA24;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.12vw;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.21vw;
  text-transform: lowercase;
  white-space: pre-wrap;

  z-index: 10;
  position: relative;
}

/* popups */

.popup-content-container {
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.65);

  z-index: 12;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms ease-in-out;
}

.popup-content-container.visible {
  opacity: 1;
  visibility: visible;
}
.popup-content-container .popup {
  padding: 2.19vw 2.55vw 2.19vw 2.71vw;

  width: 61.88vw;
  height: fit-content;

  display: flex;
  gap: 1.56vw;

  position: relative;

  border-radius: 1.09vw;

  background: #F5DA24;

  transform: translateY(-100%) scale(0.75);
}

.popup-content-container .popup::before {
  position: absolute;

  left: 0;
  top: 0;
  content: "";

  width: 100%;
  height: 100%;

  z-index: 1;

  background: url('../images/events/noise.png') no-repeat center center/cover;

  mix-blend-mode: multiply;
}

.popup-content-container.visible .popup {
  animation: popup-in 500ms ease-in forwards;
}

.popup-content-container .popup .popup-title {
  padding: 1.04vw 3.54vw 0;

  position: absolute;
  left: 0;

  background: #F5DA24;

  border-top-left-radius: 1.09vw;
  border-top-right-radius: 1.09vw;

  top: -2.6vw;

  color: #000;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.12vw;
}

.popup-content-container .popup .popup-close {
  padding: 1.04vw 2.14vw 0;

  position: absolute;
  right: 0;

  cursor: pointer;

  background: #F5DA24;

  border-top-left-radius: 1.09vw;
  border-top-right-radius: 1.09vw;

  top: -2.6vw;

  color: #000;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.12vw;
}

.popup-content-container .popup img {
  width: 51.15vw;
  height: 32.71vw;
}

.popup-content-container .popup .text-container {
  display: flex;
  flex-direction: column;
  gap: 2.6vw;
}

.popup-content-container .popup .text-container .text-row {
  display: flex;
  flex-direction: column;
  gap: 1.35vw;
}

.popup-content-container .popup .text-container .text-row .title {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 70%;
  letter-spacing: -0.12vw;
}

.popup-content-container .popup .text-container .text-row .description {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.078vw;
  text-transform: lowercase;
}
/* </popups> */