#product-title span {
  white-space: pre-wrap;
}

header .boxed-text-1 {
  padding: 0.26vw 1.67vw 1.2vw 1.51vw;
  background: #000000;

  position: absolute;
  top: 9.84vw;
  left: 10.21vw;
}

header .boxed-text-1 .glitch-1 {
  position: absolute;

  width: 15.78vw;
  height: 2.66vw;

  background: #000000;

  right: 2.97vw;
  top: -1.35vw;
}

header .boxed-text-1 .glitch-2 {
  position: absolute;

  width: 4.32vw;
  height: 4.95vw;

  background: #000000;

  right: -3.23vw;
  bottom: -2.08vw;
}

header .boxed-text-1 .glitch-3 {
  position: absolute;

  width: 8.07vw;
  height: 2.24vw;

  background: #000000;

  left: 2.34vw;
  bottom: -1.61vw;
}

header .boxed-text-1 .glitch-4 {
  position: absolute;

  width: 4.32vw;
  height: 4.95vw;

  background: #000000;

  left: -3.13vw;
  bottom: 1.46vw;
}

header .boxed-text-2 {
  padding: 1.2vw 1.2vw 1.67vw;

  position: absolute;
  bottom: 3.23vw;
  right: 8.65vw;
}

header .boxed-text-2 .glitch-0 {
  position: absolute;

  width: 10.52vw;
  height: 2.4vw;

  right: 5.05vw;
  top: -1.61vw;

  background: #000;
}

header .boxed-text-2 .glitch-1 {
  position: absolute;

  width: 100%;
  height: 5.26vw;

  left: 0;
  top: 0;

  background: #000;
}

header .boxed-text-2 .glitch-2 {
  position: absolute;

  width: 91%;
  height: 5.26vw;

  left: -2.24vw;
  top: 3.49vw;

  background: #000;
}

header .boxed-text-2 .glitch-3 {
  position: absolute;

  width: 100%;
  height: 5.26vw;

  left: 0.36vw;
  bottom: 0;

  background: #000;
}

header .boxed-text-2 .glitch-4 {
  position: absolute;

  width: 5.52vw;
  height: 2.4vw;

  left: 5.42vw;
  bottom: -1.41vw;

  background: #000;
}

main {
  padding: 3.65vw 5.21vw;

  background: #ffffff;

  width: 100%;

  display: grid;
  grid-template-columns: 1.65fr 1fr;
  gap: 0.89vw;
}

main .items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.04vw;
}

main .items-list img {
  width: 100%;
  height: 15.31vw;
  object-fit: cover;

  cursor: pointer;

  filter: grayscale(1);

  transition: 250ms ease-in-out filter;
}

main .items-list img:hover, main .items-list img.active {
  filter: grayscale(0);
}

main .product-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.08vw;
}

main .product-info-container .product-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.56vw;
}

main .product-info-container .product-description {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.078vw;
  text-transform: lowercase;
}

main .product-info-container .product-price {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.34vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.12vw;
  text-transform: lowercase;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;

    padding: 7.246vw 0 7.246vw 4.830vw;
    gap: 3.623vw;
  }

  main .items-list {
      display: flex;
      align-items: center;

      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 2.415vw;
  }

  main .items-list img {
      width: 66.908vw;
      height: 58.938vw;
  }

  main .product-info-container {
      padding-right: 4.830vw;

      width: 74%;
      gap: 3.623vw;
  }

  main .product-info-container .product-info-wrapper {
      gap: 3.623vw;
  }

  main .product-info-container .product-price {
      font-size: 5.797vw;
  }

  main .product-info-container .product-description {
      font-size: 3.623vw;
      font-style: normal;
      line-height: 120%;
      letter-spacing: -0.181vw;
  }

  header .boxed-text-1 {
      left: 4.830vw;
      top: 55.797vw;

      padding: 0.483vw 3.140vw 2.415vw 2.899vw;
  }

  header .boxed-text-1 .glitch-1 {
      width: 28.743vw;
      height: 4.830vw;
  }

  header .boxed-text-1 .glitch-2 {
      width: 7.971vw;
      height: 9.178vw;

      right: -4.830vw;
      bottom: -4.830vw;
  }

  header .boxed-text-1 .glitch-3 {
      width: 14.734vw;
      height: 4.106vw;
  }

  header .boxed-text-1 .glitch-4 {
      width: 7.971vw;
      height: 9.178vw;
  }

  header .boxed-text-2 {
      bottom: 12.077vw;

      padding: 2.415vw;
  }

  header .boxed-text-2 .glitch-0 {
      width: 20.048vw;
      height: 4.591vw;
  }

  header .boxed-text-2 .glitch-1 {
      height: 9.903vw;
  }

  header .boxed-text-2 .glitch-2 {
      height: 9.903vw;
      top: 8.454vw;
  }

  header .boxed-text-2 .glitch-3 {
      bottom: 0.483vw;
  }

  header .boxed-text-2 .glitch-4 {
      width: 10.628vw;
      height: 4.591vw;
  }

}